.card {
  margin: 20px;
  width: 400px;
  background-color: #863cf4;
  border-radius: 10px;
  padding: 20px;
  text-align: center;

  &_item {
    padding: 10px;
  }

  &_plan {
    font-size: 20px;
  }

  &_price {
    font-weight: 500;
    font-size: 40px;
  }
}
